<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">

<body>

<h2>ORDERS</h2>

<table id="orders" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Order ID</th>
        <th style="width: 150px;">Customer ID</th>
        <th style="width: 120px;">Product </th>
        <th style="width: 200px;">SIZE</th>
        <th style="width: 120px">Quantity</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="orders : ${orderItems}">

        <td>
            <a th:href="@{/customer/__${orders.customerId}__/orders/__${orders.id}__/show}" th:text="${orders.id}"/>
        </td>
        <td th:text="${orders.customerId}"/>
        <td th:text="${orders.product.id}"/>
        <td th:text="${orders.Size}"/>
        <td th:text="${orders.Quantity}"/>
    </tr>
    </tbody>
</table>

</body>
</html>