<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'stockInventory')}">
<body>
<h2>Stock Inventory List</h2>

<table id="stockInventory" class="table table-striped">
  <thead>
  <tr>
    <th style="width: 150px;">ID</th>
    <th style="width: 150px;">Material ID</th>
    <th style="width: 150px;">Material Name</th>
    <th style="width: 200px;">Logged In Date</th>
    <th style="width: 120px">Logged Out Date</th>
    <th style="width: 120px;">Size</th>
    <th style="width: 120px;">Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="stockInventory : ${selections}">
    <td>
      <a th:href="@{/stockInventory/__${stockInventory.id}__}" th:text="${stockInventory.id}"/>
    </td>
    <td th:text="${stockInventory.material.id}"/>
    <td th:text="${stockInventory.material.materialName}"/>
    <td th:text="${stockInventory.loggedInDate}"/>
    <td th:text="${stockInventory.loggedOutDate}"/>
    <td th:text="${stockInventory.Size}"/>
    <td th:text="${stockInventory.Quantity}"/>
  </tr>
  </tbody>
</table>

</body>
</html>