<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'products')}">

<body>

<h2>Products</h2>

<table id="products" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 200px;">ID</th>
        <th style="width: 150px;">Product Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productsList}">
        <td>
              <a th:href="@{/products/__${product.id}__}" th:text="${product.id}"/></a>
        </td>
        <td th:text="${product.productName}"/>
    </tr>
    </tbody>
</table>

</body>
</html>