<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'customer')}">

<body>

<h2>Materials LIST</h2>

<table id="customer" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 200px;">Material Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="material : ${materialsList}">
        <td th:text="${material.id}"/>
        <td th:text="${material.materialName}"/>
    </tr>
    </tbody>
</table>

</body>
</html>