<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'material')}">
<body>

<h2>PRODUCT</h2>
<form th:object="${material}" class="form-horizontal" id="add-product-form" method="post">
  <div class="form-group has-feedback">

    <input
            th:replace="~{fragments/inputField :: input ('Material Name', 'materialName', 'text')}" />
    <br >
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
                th:with="text=${material} ? 'Submit' : 'Update product'"
                class="btn btn-default" type="submit" th:text="${text}">Submit</button>
      </div>
    </div>
  </div>
</form>
</body>
</html>